@import '../abstract/variaveis';

.banner {
    align-items: center;
    background: url(../../images/BGIMG.png) 30% center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 350px;
    opacity: .9;
    .inner-banner {
        background-color: $third-color;
        border-radius: 40px;
        opacity: .9;
        padding: 3rem;
        h1 {
            font-size: $text-size;
            text-transform: uppercase;
            color: $first-color;
        }
        h2 {
            font-size: $text-size / 2;
            text-transform: uppercase;
            color: $first-color;
        }
    }
}

@media (max-width: 425px) {
    .banner {
        .inner-banner {
            text-align: center;
            h1 {
                font-size: $text-size * 1.4;
                margin-bottom: 2vw;
            }
            h2 {
                font-size: $text-size * 1;
            }
        }
    }
}