@import '../abstract/variaveis';

#newsletter {
    background-color: $first-color;
    padding: 3vw;
    text-align: center;
    .text {
        color: $fourth-color;
        h2 {
            font-size: $text-size / 2;
            font-weight: 500;
            margin: 1.5vw;
            text-transform: uppercase;
        }
    }
    .input {
        border: 5px solid $fourth-color;
        border-radius: 20px;
        margin: 0 auto;
        width: 44.5vw;
        &:hover, &:focus-within {
            box-shadow: 1px 1px 8px 1px $third-color;
            outline: none;
        }
        input {
            border: none;
            border-radius: 20px;
            color: $fourth-color;
            font-size: 18px;
            height: 30px;
            outline: none;
            text-align: center;
            width: 44.3vw;
        }
    }
    button {
        background-color: $fourth-color;
        border-radius: 25px;
        color: $first-color;
        cursor: pointer;
        font-weight: 700;
        height: 40px;
        letter-spacing: 2px;
        margin-top: 1rem;
        outline: none;
        text-transform: uppercase;
        width: 130px;
        &:hover {
            background-color: $third-color;
            border-color: $third-color;
            //box-shadow: 1px 1px 8px 1px $third-color;
        }
    }
}

@media (max-width: 425px) {
    #newsletter {
        .text {
            h2 {
                font-size: $text-size / 1.3;
            }
        }
        .input {
            width: 70vw;
            input {
                width: 69vw;
            }
        }
        button {
            font-size: $text-size / 2;
            height: 30px;
            width: 100px;
        }
    }
}