@import '../abstract/variaveis';

#recipes {
    margin: 5vw;
    h4 {
        color: $fourth-color;
        font-size: $text-size / 1.5;
        font-weight: 700;
        margin: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    h3 {
        text-align: center;
        font-size: $text-size / 1.5;
        margin-bottom: 5vw;
        font-weight: 300;
    }
    .cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .card {
            width: 25vw;
            text-align: center;
            .img-container {
                height: 23vw;
                overflow: hidden;
                img {
                    cursor: pointer;
                    max-width: 100%;
                    width: 395px;
                    height: 280px;
                    object-fit: cover;
                    transition: all 1s ease;
                    &:hover {
                        transform: scale(1.3);
                    } 
                }
            }
            h5 {
                border-top: 8px solid $second-color;
                padding-top: 8px;
                font-size: $text-size / 1.8;
                font-weight: 500;
                margin: 20px 0 10px 0;
                text-transform: uppercase;
            }
            p {
                font-size: $text-size / 2.8;
                font-weight: 300;
                line-height: 1.25rem;
                margin-bottom: 2vw;
            }
        }
    }
}

@media (max-width: 768px) {
    #recipes {
        margin: 0 auto;
        .cards {
            flex-direction: column;
            .card {
                margin: 5vw;
                width: 90vw;
                .img-container {
                    .img {
                        cursor: none;
                    }
                }
                h5 {
                    font-size: $text-size / 1.4;
                }
                p {
                    font-size: $text-size / 1.5;
                    margin-bottom: 1vw;
                }
            }
        }
    }
}