@import '../abstract/variaveis';

#recipes {
    margin: 40px;
    h4 {
        color: $fourth-color;
        font-size: $text-size / 1.5;
        font-weight: 700;
        margin: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    h3 {
        text-align: center;
        font-size: $text-size / 1.5;
        margin-bottom: 80px;
        font-weight: 300;
    }
    .cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .card {
            width: 25vw;
            text-align: center;
            .img-container {
                //height: 23vw;
                overflow: hidden;
                img {
                    //border-radius: 20px;
                    max-width: 100%;
                    width: 395px;
                    height: 280px;
                    object-fit: cover;
                    transition: all 1s ease;
                    &:hover {
                        transform: scale(1.3);
                    } 
                }
            }
            h5 {
                border-top: 8px solid $second-color;
                padding-top: 8px;
                font-size: $text-size / 1.8;
                font-weight: 500;
                margin: 20px 0 10px 0;
                text-transform: uppercase;
            }
            p {
                font-size: $text-size / 2.8;
                font-weight: 300;
                line-height: 1.25rem;
                margin-bottom: 2vw;
            }
        }
    }
}